<section class="accommodation section u-text-center">
    <!-- <div class="accommodation__header u-center">
    </div> -->
    <div class="accommodation__header u-center">
        <h2 class="accommodation__section-title heading heading--line heading--m heading--center">Våra rum</h2>
        <p class="section__preamble u-center">Vi har 3 dubbelrum och 1 enkelrum,  gemensamt allrum, pentry och WC/dusch på andra våning i ett över hundra år gammalt skärgårdshus.</p>
    </div>
    <div class="accommodation__container u-center">
        <div class="accommodation__item">
            <div class="accommodation__image-container">
                <img src="images/rum-1.jpg" alt="" class="accommodation__image">
                <span class="accommodation__price">900kr</span>
            </div>
            <div class="accommodation__text">
                <div class="accommodation__title-container">
                    <h2 class="accommodation__title heading heading--m">Rum 1</h2>
                    <span class="accommodation__pers accommodation__pers--two">2-3 Gäster</span>
                </div>
                <p class="accommodation__preamble">Ett större rum med egen balkong och plats för en extrasäng vid behov.</p>
            </div>
        </div>

        <div class="accommodation__item">
            <div class="accommodation__image-container">
                <img src="images/rum-2.jpg" alt="" class="accommodation__image">
                <span class="accommodation__price">850kr</span>
            </div>
            <div class="accommodation__text">
                <div class="accommodation__title-container">
                    <h2 class="accommodation__title heading heading--m">Rum 2</h2>
                    <span class="accommodation__pers accommodation__pers--two">2 Gäster</span>
                </div>
                <p class="accommodation__preamble">Ett mysigt rum i blått med egen garderob.</p>
            </div>
        </div>

        <div class="accommodation__item">
            <div class="accommodation__image-container">
                <img src="images/rum-3.jpg" alt="" class="accommodation__image">
                <span class="accommodation__price">850kr</span>
            </div>
            <div class="accommodation__text">
                <div class="accommodation__title-container">
                    <h2 class="accommodation__title heading heading--m">Rum 3</h2>
                    <span class="accommodation__pers accommodation__pers--two">2 Gäster</span>
                </div>
                <p class="accommodation__preamble">Ett romantiskt rum med bord och stolar.</p>
            </div>
        </div>

        <div class="accommodation__item">
            <div class="accommodation__image-container">
                <img src="images/rum-4.jpg" alt="" class="accommodation__image">
                <span class="accommodation__price">450kr</span>
            </div>
            <div class="accommodation__text">
                <div class="accommodation__title-container">
                    <h2 class="accommodation__title heading heading--m">Rum 4</h2>
                    <span class="accommodation__pers accommodation__pers--one">1 Gäst</span>
                </div>
                <p class="accommodation__preamble">Singelrummet intimt med pärlspont och snedtak.</p>
            </div>
        </div>
    </div>

</section>
