<div class="billboard u-center">
    <!-- <img src="images/1.jpg'" srcset="img/300px.jpg 3x, img/200px.jpg 2x, img/100px.jpg 1x" alt="Vår fina villa"> -->
    <img class="billboard__image" src="images/villan.jpg" alt="Vår fina villa">
    <!-- <img class="billboard__image-2" src="images/cykel.jpg" alt="Cyklar mot Rörö"> -->
    <div class="billboard__image-2"></div>
<!--     <div class="billboard__info">
        <div id="js-map"></div>
    </div> -->
</div>
