<section class="contact section">
    <div class="contact__header section__container u-center u-text-center">
        <h2 class="contact__title heading heading--line heading--m heading--center">Kontakt/Boka</h2>
        <p class="contact__preamble u-text-center">För mer info och bokningar, maila oss på <a href="mailto:villa.sorgard@gmail.com">villa.sorgard@gmail.com</a></p>
    </div>
</section>
