<section class="facilities section">
    <div class="facilities__container section__container u-center u-text-center">
        <div class="facilities__header section__container u-center u-text-center">
            <h2 class="facilities__title heading heading--line heading--m heading--center">Faciliteter</h2>
        </div>

        <div class="facilities__main">
            <ul class="facilities__list u-center u-clearfix">
                <li class="facilities__item facilities__item--cup"><p>Frukost</p></li>
                <li class="facilities__item facilities__item--laundry"><p>Tvättmaskin</p></li>
                <li class="facilities__item facilities__item--towel"><p>Lakan & handduk</p></li>
                <li class="facilities__item facilities__item--shower"><p>Dusch/WC</p></li>
                <li class="facilities__item facilities__item--wifi"><p>Trådlöst internet</p></li>
                <li class="facilities__item facilities__item--lock"><p>Cykelrum med lås</p></li>
            </ul>
            <div id="js-test" class="facilities__slideshow">
            </div>
        </div>
    </div>
</section>
