<section class="intro section">
    <div class="intro__header section__container u-center u-text-center">
        <h2 class="intro__title heading heading--line heading--m">Välkommen till Öckerö</h2>
        <p class="intro__preamble section__preamble u-center">Välkommen till Öckerö Bed & Bike, en pärla för aktiviteter och rekreation. Hos oss kan du njuta av husets lugn, vackra rum och nyttig frukost. Du kan hyra cykel och kajak. Vi kan erbjuda förslag på turer såväl med cykel, kajak som vandring.</p>
    </div>
    <%= partial "partial/billboard" %>
</section>
