.intro {

    &__preamble {
        max-width: 580px;
        text-align: left;
    }

    @include media(md) {
        &__preamble {
            font-size: map-get($fontsize, xl);
            line-height: 1.6;
        }
    }

    @include media(md) {
        &__header {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}
